body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(110deg, rgba(245,245,245,1) 0%,
    rgba(255,255,255,1) 100%);
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    min-width: 320px;
    padding: 138px 20px 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.about-us__info--wrapper {
    padding: 0 20px 0 0;
}
.title {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
.title-description {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 13px 0 0 0;
}
.contact-form {
    display: grid;
    grid-template-columns: 299px 299px;
    gap: 32px;
    margin: 35px 0;
    position: relative;
}
.contact-form__item {
    border: 0;
    height: 64px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    border-radius: 8px;
    color: rgba(65, 64, 66, 1);
    box-shadow: 10px 10px 10px rgba(242, 242, 242, 1);
    outline: 0;
}
.practice-institution__option {
    color: rgba(65, 64, 66, 1);
}
.contact-form__enter-message {
    width: 615px;
    height: 338px;
    padding: 8px 8px;
    position: absolute;
    top: 385px;
}
.contact-form__button {
    background: rgba(26, 26, 26, 1);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 19px 40px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 1030px;
}
.contact-form__button:hover {
    background: rgb(255, 255, 255);
    color: rgba(26, 26, 26, 1);
    transition: 500ms;
}
#map {
    height: 936px;
    width: 470px;
    margin-bottom: 407px;
}
.map__phone--wrapper {
    display: flex;
    margin-top: -23px;
}
.map__phone--image {
    padding-right: 8px;
}
.map__email--wrapper {
    display: flex;
    margin-top: 5px;
}
.map__email--image {
    padding-right: 8px;
}
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        justify-content: center;
        padding-top: 77px;
    }
    .about-us__info--wrapper {
        padding-right: 0;
    }
    .contact-form {
        margin-bottom: 36px;
        grid-template-columns: 100%;
    }
    .contact-form__enter-message {
        position: relative;
        width: 100%;
        top: 0;
        height: 353px;
    }
    .contact-form__button {
        width: 100%;
        position: relative;
        top: 0;
        margin-bottom: 63px;
    }
    #map {
        margin-bottom: 133px;
        width: 100%;
    }
}